@page "/apps"

<PageTitle>Apps</PageTitle>

@inject AppDataService AppDataService

<h1>Apps</h1>

<div class="apps-container">
    @foreach (var app in AppDataService.GetAllApps())
    {
        <div class="app">
            <div class="app-icon" style="background-color:@app.Color;">
                <i class="bi @app.IconClass"></i>
            </div>
            <div class="app-details">
                <h3>@app.Name</h3>
                <p>@app.Description</p>
                <div class="button-container">
                    <button class="copy-button" @onclick="() => DownloadApp(app.Command)">Befehl kopieren</button>
                </div>
            </div>
        </div>
    }
</div>

<style>
    h1 {
        font-family: 'Playwrite CL', sans-serif;
        color: #AFDDE5;
        text-align: center;
        margin-top: 20px;
    }

    .apps-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        margin-top: 20px;
        padding: 20px;
    }

    .app {
        background-color: #1E1E24;
        color: #FFFFFF;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .app:hover {
            transform: translateY(-8px);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
        }

    .app-icon {
        background-color: #333333;
        padding: 15px;
        text-align: center;
    }

        .app-icon i {
            font-size: 24px;
            color: #FFBD00;
        }

    .app-details {
        padding: 20px;
    }

        .app-details h3 {
            margin-top: 0;
            font-size: 18px;
        }

        .app-details p {
            color: #CCCCCC;
            font-size: 14px;
        }

    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .copy-button {
        background-color: #FFBD00;
        color: #333;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .copy-button:hover {
            background-color: #FFD54F;
        }
</style>

@code {
    private async Task DownloadApp(string command)
    {
        await JSRuntime.InvokeVoidAsync("eval", CopyToClipboardFunction);
        await JSRuntime.InvokeVoidAsync("copyToClipboard", command);
    }

    private string CopyToClipboardFunction => @"
        function copyToClipboard(text) {
            var dummy = document.createElement('textarea');
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand('copy');
            document.body.removeChild(dummy);
            alert('Text kopiert: ' + text);
        }
    ";

    [Inject]
    private IJSRuntime JSRuntime { get; set; }
}
