@page "/"

<PageTitle>Home</PageTitle>

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CL:wght@100..400&display=swap" rel="stylesheet">

</head>

<h1>Willkommen bei Instalify!</h1>

Welcome to your new app.s


<style>
    body{
        background-color: #003135

    }
    h1{
        font-family: "Playwrite CL";
        color: #AFDDE5
    }



</style>